<ng-container *ngIf="user !== null">
  <div class="d-flex justify-content-between pt-3 nav">
    <div class="navigation">
      <div class="logo">
        <a class="no-underline" href=""> LinkMe </a>
      </div>
    </div>

    <app-search-input></app-search-input>

    <div>
      <a class="navigation-link notifica">
        <i class="far fa-heart"></i>
      </a>
      <a class="navigation-link" (click)="uploadPhoto()">
        <i class="far fa-square-plus"></i>
      </a>
      <a href="{{ '/profile' }}" class="navigation-link">
        <i class="far fa-user-circle"></i>
      </a>
      <a
        (click)="logout()"
        id="signout"
        class="navigation-link"
      >
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
</ng-container>
