<div class="container d-flex">
  <div class="col-6 d-flex justify-content-center mt-4 pt-4">
    <div class="imagen col-12">
      <div class="card">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="d-flex d-flex justify-content-between">
            <h5 class="card-title">Card title</h5>
            <a class="navigation-link logo">
              <span class="no-font">121231231231231231</span>
              <i class="far fa-heart"></i>
            </a>
          </div>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="gradient-custom col-6">
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-12">
          <div class="card">
            <div class="card-body p-4 comment-box">
              <h4 class="text-center mb-4 pb-2">Comentarios</h4>

              <div class="">
                <div class="row">
                  <div class="col">
                    <div class="d-flex flex-start">
                      <img
                        class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                        alt="avatar"
                        width="65"
                        height="65"
                      />
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <p class="mb-1">
                              Maria Smantha
                              <span class="small">- 2 hours ago</span>
                            </p>
                          </div>
                          <p class="small mb-0">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col">
                    <div class="d-flex flex-start">
                      <img
                        class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                        alt="avatar"
                        width="65"
                        height="65"
                      />
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <p class="mb-1">
                              Maria Smantha
                              <span class="small">- 2 hours ago</span>
                            </p>
                          </div>
                          <p class="small mb-0">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col">
                    <div class="d-flex flex-start">
                      <img
                        class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                        alt="avatar"
                        width="65"
                        height="65"
                      />
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <p class="mb-1">
                              Maria Smantha
                              <span class="small">- 2 hours ago</span>
                            </p>
                          </div>
                          <p class="small mb-0">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col">
                    <div class="d-flex flex-start">
                      <img
                        class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                        alt="avatar"
                        width="65"
                        height="65"
                      />
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <p class="mb-1">
                              Maria Smantha
                              <span class="small">- 2 hours ago</span>
                            </p>
                          </div>
                          <p class="small mb-0">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col">
                    <div class="d-flex flex-start">
                      <img
                        class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                        alt="avatar"
                        width="65"
                        height="65"
                      />
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <p class="mb-1">
                              Maria Smantha
                              <span class="small">- 2 hours ago</span>
                            </p>
                          </div>
                          <p class="small mb-0">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col">
                    <div class="d-flex flex-start">
                      <img
                        class="rounded-circle shadow-1-strong me-3"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                        alt="avatar"
                        width="65"
                        height="65"
                      />
                      <div class="flex-grow-1 flex-shrink-1">
                        <div>
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <p class="mb-1">
                              Maria Smantha
                              <span class="small">- 2 hours ago</span>
                            </p>
                          </div>
                          <p class="small mb-0">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
