<div class="container">
  <div class="row">
    <div class="col-md-8 col-12 posts">
      <ng-template ngIf="this.photos">
        <div class="col-12 d-flex justify-content-center mt-4">
          <div class="imagen">
            <div class="card">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template ng-template ngIf="this.photos">
        <div
          class="col-12 d-flex justify-content-center mt-4 ms-md-5 p-3"
          *ngFor="let photo of photos"
        >
          <div class="col-md-7 col-12 ms-md-4 p-1">
              <app-photo-model [photo]="photo"></app-photo-model>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="col-2 justify-content-start">
      <app-suggestions></app-suggestions>
    </div>
  </div>
</div>
