<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editProfile" (ngSubmit)="onSubmit()" id="editProfile">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" formControlName="name" class="form-control" id="name">
      <div *ngIf="editProfile.get('name')?.invalid && editProfile.get('name')?.touched">
        <div class="text-danger" *ngIf="editProfile.get('name')?.hasError('minlength')">El nombre debe tener al menos 3 caracteres.</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="nickname" class="form-label">NickName</label>
      <input type="text" formControlName="nickname" class="form-control" id="nickname" #nickname>
      <div *ngIf="editProfile.get('nickname')?.errors && editProfile.get('nickname')?.errors.exists">
        <div class="text-danger">El nickname ya existe</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #email>
      <div *ngIf="editProfile.get('email')?.errors && editProfile.get('email')?.errors.exists">
        <div class="text-danger">El correo ya existe</div>
      </div>
      <div *ngIf="editProfile.get('email')?.invalid && editProfile.get('email')?.touched">
        <div class="text-danger" *ngIf="editProfile.get('email')?.hasError('email')">El correo ha de ser válido</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
      <div *ngIf="editProfile.get('password')?.invalid && editProfile.get('password')?.touched">
        <div class="text-danger" *ngIf="editProfile.get('password')?.hasError('minlength')">La contraseña ha de tener al menos 4 carácteres</div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" form="editProfile">Submit</button>
  <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div>
